extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg As Natours is not a real business, it does not include functionalities like this one, including Signing up as a fresh user, Editing the including user's data and so on so forth. 
      a.btn.btn--green(href='/') Back Home